.FinalScore__box {
    height: 200px;
    width: 400px;
    background: #212226;
    border: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    font-weight: 700;

    @media(max-width: 576px) {
        width: 88%;
    }

    &--closeButton {
        position: absolute;
        top: 0;
        right: 0;
        background: #e74c3c;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &--gameOver {
        text-align: center;
        margin: 0;
        color: #e74c3c;
    }
    &--score {
        text-align: center;
        margin: 0;
    }
}