.multiplicationGame {
    background-image: url(https://raw.githubusercontent.com/imnaimul/ReactMultiplicationGame/master/public/images/bg.jpg);
    background-size: cover;
    color: $text-color;
    border: 10px solid $theme-primary;
    height: 100vh;
    padding: 4rem;
}