.options__box {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;

    div {
        flex-basis: 300px;
        height: 150px;
        transition: all .3s;
        text-align: center;

        @media (max-width: 576px) {
            height: 115px;
        }

        button {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            width: 100%;
            border: 0;
            background-color : $theme-primary;

            font-size: 8rem;
            color: $text-color;

            @media (max-width: 576px) {
                font-size: 3rem;
            }

            &:focus {
                outline: 0;
            }

            &:active {
                @media (min-width: 576px) {
                    border: 1rem solid $theme-primary;
                }
                
                background: rgba(#212226, .5);
            }
        }
    }
}