.question__box {
    position: relative;
    margin: 0 auto;
    height: 50%;
    border: 10px solid $theme-primary;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
        border: 5px solid $theme-primary;
        margin: 2rem;
        height: 44%;
    }

    &--score {
        position: absolute;
        right: 0;
        top: 0;
        background: #F4C613;
        height: 40px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        @media (max-width: 576px) {
            width: 100px;
        }
    }

    &--question {
        span {
            font-size: 12rem;
            font-weight: 700;

            @media (max-width: 576px) {
                font-size: 8.5rem;
            }
        }
    }

    &--message {
        position: absolute;
        top: 0;
        left: 20px;
        letter-spacing: 5px;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width: 576px) {
            font-size: 1.6rem;
        }
    }

    &--timer {
        position: absolute;
        bottom: 10px;
        right: 20px;
        letter-spacing: 5px;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 700;

        @media (max-width: 576px) {
            font-size: 1.4rem;
        }
    }
}